---
import { siteConfig } from "../config/site";
---

<header role="banner">
  <nav aria-label="Primary navigation">
    <a href="/" class="underline" title="Return to homepage"
      >{siteConfig.name}</a
    >
  </nav>
</header>
